body {
    background-image: url("game.jpg");
    background-position: center;
    background-size: cover;
    font-size: 50px;
    color: white;
    font-weight: 200px;
    text-align: center;
    font-style: normal;

}

h1 {
    color: goldenrod;
    font-size: 100px;
}

.message-el {
    font-style: italic;
}

button {
    background-color: goldenrod;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    border-radius: 5px;

}